services:
  mongodb:
    image: mongo
    container_name: cooking-sparkles-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
  backend:
    build:
      context: ../apps/backend
      dockerfile: ../../docker/backend.Dockerfile
    container_name: cooking-sparkles-backend
    ports:
      - "5001:5000"
    environment:
      - MONGO_URI=mongodb://mongodb:27017/cooking-sparkles
    depends_on:
      - mongodb

  frontend:
    build:
      context: ../apps/frontend
      dockerfile: ../../docker/frontend.Dockerfile
    container_name: cooking-sparkles-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  mongo-data:
