@import 'tailwindcss';

@theme {
  --font-helvetica: 'helvetica neue', sans-serif;

  --color-white-100: #ffffff;
  --color-white-200: #f0f0f0;
  --color-white-300: #e5e5e5;
  --color-white-400: #d6d6d6;
  --color-white-500: #b2b2b2;

  --color-gray-100: #919191;
  --color-gray-200: #777575;
  --color-gray-300: #525252;
  --color-gray-400: #333333;
  --color-gray-500: #121212;

  --color-red-100: #fff1e8;
  --color-red-200: #ffd2c9;
  --color-red-300: #fdb4ab;
  --color-red-400: #e3988f;
  --color-red-500: #c75e5d;
  --color-red-600: #a24140;
  --color-red-700: #731f1e;
  --color-red-800: #521413;
  --color-red-900: #32120e;
  --color-red-1000: #240602;

  --color-green-100: #eafacc;
  --color-green-200: #d2e3b2;
  --color-green-300: #bbcd9a;
  --color-green-400: #a4b882;
  --color-green-500: #798d58;
  --color-green-600: #657945;
  --color-green-700: #526533;
  --color-green-800: #405124;
  --color-green-900: #2f3e17;
  --color-green-1000: #213109;

  --color-faint-green-100: #ecf7df;
  --color-faint-green-200: #d5e1c6;
  --color-faint-green-300: #becbaf;
  --color-faint-green-400: #a8b598;
  --color-faint-green-500: #92a082;
  --color-faint-green-600: #7e8b6e;
  --color-faint-green-700: #69765a;
  --color-faint-green-800: #566248;
  --color-faint-green-900: #444f37;
  --color-faint-green-1000: #333c27;

  --color-red-error-600: #ad0b00;
  --color-red-error-800: #7b0800;

  --spacing-xs: 5px;
  --spacing-s: 15px;
  --spacing-sm: 20px;
  --spacing-m: 30px;
  --spacing-l: 60px;
  --spacing-xl: 90px;
  --spacing-xxl: 120px;
  --spacing-3xl: 170px;
  --spacing-header: 180px;
  --spacing-header-mobile: 80px;

  --ease-cubic-out: cubic-bezier(0.16, 1, 0.3, 1);
  --ease-in-out-simple: cubic-bezier(0.4, 0, 0.2, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
}

@layer base {
  body {
    @apply relative bg-white-100 isolate font-helvetica text-base leading-[20px] tracking-widest antialiased;
  }

  h1,
  .h1 {
    @apply text-[32px] leading-8  font-bold uppercase;
  }

  h2,
  .h2 {
    @apply text-[24px] leading-6 font-bold uppercase;
  }

  h3,
  .h3 {
    @apply text-[20px] font-bold;
  }

  a {
    @apply cursor-pointer;
  }
}

@layer components {
  input {
    @apply border-1 border-black border-solid rounded-md py-2 pl-2;
  }

  label {
    @apply pb-2;
  }

  button,
  .primary {
    @apply text-white bg-green-700 cursor-pointer px-sm py-s rounded-md w-full transition-colors duration-300 ease-in-out;
  }

  button:hover,
  .primary:hover {
    @apply text-green-700 bg-white border border-green-700;
  }

  .secondary {
    @apply text-green-700 bg-white border border-green-700;
  }
  .secondary:hover {
    @apply text-white bg-green-700;
  }

  .link:hover {
    @apply underline transition-all duration-200 ease-in-out;
  }
}

@keyframes openMenu {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-open {
  animation: openMenu 0.2s ease-out forwards;
}
